.fixed-action-btn(style='bottom: 150px; right: 20px;')
  a.btn-floating.btn-large.blue#gps_button(data-step="6" data-intro="내 위치를 확인해보세요!" data-position="left")
    i.large.material-icons my_location

.fixed-action-btn(style='bottom: 75px; right: 20px;')
  a.btn-floating.btn-large.red(href='#', onclick='__INFO__.changeState()' data-step="7" data-intro="강의동검색/길찾기 모드 전환!" data-position="left")
    i.large.material-icons#search_icon directions
