form#msform(method="post" action="/add_event")
	ul#progressbar
		li.active 행사정보 입력(1)
		li 행사정보 입력(2)
		li 홍보날짜 입력
	fieldset
		h3.fs-subtitle STEP1. 행사주최와 행사명을 입력해 주세요.
		.input-field
			input.validate#host_name(type='text' name="host_name")
			label(for='host_name') 주최
		.input-field
			input.validate#event_name(type='text' name="event_name")
			label(for='event_name') 행사명
		a.waves-effect.waves-light.btn.right.next.action-button(name="next") 다음
	fieldset
		h3.fs-subtitle STEP2. 행사날짜와 내용을 입력해 주세요.
		.input-field
			input.validate#event_date(type='text' name="event_date")
			label(for='event_date') 날짜 및 시간
		.input-field
			input.validate#event_text(type='text' name="event_text")
			label(for='event_text') 행사 내용
		a.waves-effect.waves-light.btn.left.previous 이전
		a.waves-effect.waves-light.btn.right.next 다음
	fieldset
		h3.fs-subtitle STEP3. 행사를 홍보할 날짜를 선택하세요.<br><br>(선택한 기간동안 지도상에 보여집니다 <br> 최대 3일간 선택가능. 월/일/년)<br>
		.input-field
			h6 홍보 가능 날짜는 최대 3일입니다!
		.input-field
			label.active(for='promotion_start') 홍보 시작일
			input.datepicker#promotion_start(type="date" name="promotion_start" onchange='checkForm()')
		.input-field
			label.active(for='promotion_end') 홍보 종료
			input.datepicker#promotion_end(type="date" name="promotion_end" onchange='checkForm()')
		.input-field
			input#register_date(type="hidden" name="register_date")
		.input-field
			input#event_latitude(type="hidden" name="latitude")
		.input-field
			input#event_longitude(type="hidden" name="longitude")
		a.waves-effect.waves-light.btn.left.previous(href='#!' name="previous" value="Previous") 이전
		button.waves-effect.waves-light.btn.right.disabled#registerButton(type="submit" value="Submit" disabled) 등록
script(src="js/multi-step-modal.js")
