.after_searching_menu
	.row.teal.darken-3.white-text.center
		.col.s3.after_searching_menu_button(onclick="set_depart()")
			h6 출발지로 지정
			i.material-icons first_page
		.col.s3.after_searching_menu_button(onclick="set_arrive()")
			h6 도착지로 지정
			i.material-icons last_page
		.col.s3.after_searching_menu_button(onclick="fav_func()")
			h6 즐겨찾기 저장
			i.material-icons star
		.col.s3.after_searching_menu_button(onclick="kakaoShare()")
			h6 카카오톡 공유
			i.material-icons tap_and_play
script(src="//developers.kakao.com/sdk/js/kakao.min.js")
script.
	function set_depart() {
		console.log("setDepart");
		if (!__INFO__.getState())
			__INFO__.changeState();
		__INFO__.getDepartSearchbar().selectize[0].selectize.setValue(__INFO__.getDepartSearchbar().selectize[0].selectize.search(__INFO__.getSearchedData().name).items[0].id);
	};

	function set_arrive() {
		console.log("setArrive");
		if (!__INFO__.getState())
			__INFO__.changeState();
		__INFO__.getArriveSearchbar().selectize[0].selectize.setValue(__INFO__.getArriveSearchbar().selectize[0].selectize.search(__INFO__.getSearchedData().name).items[0].id);
	};

	function fav_func() {
		if (__INFO__.getState()) {
			alert ("길찾기 즐겨찾기는 추후 지원 예정입니다.");
			return;
		}
		if (__INFO__.isLogined()) {  
			$.post('/addFav', {favId: __INFO__.getSearchbar().selectize[0].value}, function(data, status) {
				if (data)
					alert("저장되었습니다.");			       
				else
					alert ("이미 있는 즐겨찾기 입니다.");
			});
		} else {
			alert("로그인 후에 이용하실 수 있습니다.");
		}
	};
  
	Kakao.init('273c1ce872178b6e460fff5d2a4cca3e');
	function kakaoShare() {
		var link = "http://snumap.com?";
		var label = "";
		if (__INFO__.getState())
		{
			link += "ds=" + __INFO__.getDepartSearchbar().selectize[0].value + "&as=" + __INFO__.getArriveSearchbar().selectize[0].value;
			label = __INFO__.getDepartSearchbar().selectize[0].textContent + "->" + __INFO__.getArriveSearchbar().selectize[0].textContent;
		} else {
			link += "s=" + __INFO__.getSearchbar().selectize[0].value;
			label = __INFO__.getSearchbar().selectize[0].textContent;
		}
		console.log(link);
		Kakao.Link.sendTalkLink({
			label: label,
			image: {
				src: 'http://snumap.com/images/kakao_map.png',
				width: '270',
				height: '95'
			},
			webButton: {
				text: '스누맵에서 보기',
				url: link
			}
		});
	}
