extends layout

block content

  body
    nav.top-nav.teal.lighten-2
      .nav-wrapper
        .col.l12
          a.breadcrumb(href='/')
            i.material-icons keyboard_arrow_left
            br
            p 구성원 인증하기
    .container_login
      .pad30.row
      .pad50.row
        form.col.s12
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              h6 마이스누 메일계정으로 인증메일 발송 후<br>메일 링크를 클릭하시면 구성원 인증이 완료됩니다.
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s8.m4.l3
              input.validate#mysnu_id(placeholder='Placeholder', type='text')
              label(for='mysnu_id') 마이스누계정
            .input-field.col.s4.m2.l1
              h5 @snu.ac.kr
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
      .row
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .col.s12.m6.l4
          a.waves-effect.waves-light.btn.right(href='#' onclick='authorization()') 인증메일 발송
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .pad50.row