doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
    title 스누맵

  body
    script.
      alert('서울대학교 구성원 인증에 성공했습니다. 스누맵 페이지로 이동합니다.');
      window.location.href = '/'