extends layout

block content

  body
    nav.top-nav.teal.lighten-2
      .nav-wrapper
        .col.l12
          a.breadcrumb(href='/')
            i.material-icons keyboard_arrow_left
            br
            p 구성원 인증하기
    .container_login
      .pad30.row
      .pad50.row
        form.col.s12
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              h5 메일 발송이 완료되었습니다!
              h6 snu메일 수신함을 확인해주세요.
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
      .row
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .col.s12.m6.l4
          a.waves-effect.waves-light.btn.right(href='/') 메인으로
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .pad50.row