extends layout

block content

  body
    nav.top-nav.teal.lighten-2
      .nav-wrapper
        .col.l12
          a.breadcrumb(href='/')
            i.material-icons keyboard_arrow_left
            br
            p 내 정보 수정
      
    .container_login
      .pad30.row
      .pad50.row
        form.col.s12
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s6.m3.l2
              input.validate#first_name(type='text')(value= first_name)
              label.active(for='first_name') 이름
            .input-field.col.s6.m3.l2
              input.validate#last_name(type='text')(value= last_name)
              label.active(for='last_name') 성
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              h6 (암호는 숫자 하나, 영문 소문자 하나 이상을 포함해 6자 이상으로 설정해 주시기 바랍니다.)
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              input.validate#password1(placeholder='Placeholder')(type='password')
              label(for='password') 새 암호
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              input.validate#password2(placeholder='Placeholder')(type='password')
              label(for='password') 암호 확인
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
      .row
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .col.s12.m6.l4
          a.waves-effect.waves-light.btn.right(href='javascript:void(0)' onclick='edit_account()') 정보수정
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .pad50.row
    script(src='js/login_check.js')
    script.
      var edit_account = function () {
        var first_name = document.getElementById('first_name').value;
        var last_name = document.getElementById('last_name').value;
        var passwd = document.getElementById('password1').value;
        if (first_name.length == 0 || last_name.length == 0) {
          alert ("이름을 입력해 주세요");
          return;
        }
        if (passwd.localeCompare(document.getElementById('password2').value) != 0 || !checkPassword(passwd)) {
          alert ("비밀번호를 확인해 주세요");
          return;
        }
        var encrypted = CryptoJS.SHA1(passwd);
        console.log ("create new account");
        $.post ("/login_modules/change_account", {
          first_name: first_name,
          last_name: last_name,
          passwd: encrypted.toString ()
        }, function (data, status) {
          console.log (data);
          if (data) {
            alert ("정보 수정 완료");
            window.location = '/';
          }
        });
      }
