extends layout

block content

  body
    nav.top-nav.teal.lighten-2
      .nav-wrapper
        .col.l12
          a.breadcrumb(href='/')
            i.material-icons keyboard_arrow_left
            br
            p 내 정보 수정
      
    .container_login
      .pad30.row
      .pad50.row
        form.col.s12
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              h6 정보 수정을 위해 비밀번호를 확인해 주세요.
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              input.validate#password(placeholder='Placeholder')(type='password')
              label(for='password') 암호
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
      .row
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .col.s12.m6.l4
          a.waves-effect.waves-light.btn.right(href='javascript:void(0)' onclick='confirm_password()') 확인
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .pad50.row

    script.
      var confirm_password = function () {
        var encrypted = CryptoJS.SHA1(document.getElementById('password').value);
        $.post("/login_modules/confirm_password", {
          passwd: encrypted.toString()
        }, function (data, status) {
          console.log(data);
          if (data)
            window.location = '/change_account_info';
          else
            alert ("비밀번호가 틀렸습니다.");
        });
      }
