nav.top-nav.teal.lighten-2#modal_nav
	.nav-wrapper
		p FAQ
.pad30
.container_faq.row#container_setting
	.col.s12
		.card
			ul.collection
				li.collection-item.avatar
					img.circle(src='images/icon.png')
					span.title 팀스누맵은 어떤 사람들인가요?
					p SNUMAP VER 1.0 <br>김재윤
					p SNUMAP VER 2.0 <br>김재윤/최선웅/류기현/한재흥/정오령/박성경
					p SNUMAP VER 2.5 <br>김재윤/최선웅/류기현/최성민/박성경/김보연
					p SNUMAP VER 3.0 <br>김재윤/최선웅/최성민/박성경/김보연
				li.collection-item.avatar
					img.circle(src='images/icon.png')
					span.title 스누맵은 어떻게 만들었나요?
					p 영업비밀입니다.
				li.collection-item.avatar
					img.circle(src='images/icon.png')
					span.title 업데이트 계획이 있나요?
					p 스누맵은 서울대 구성원들이 함께 만들어나가는 지도 서비스입니다.<br>학내 행사 홍보 / 건물 내부 길 / 학교 안의 숨겨진 멋진 장소 등<br>더욱 다양하고 유용한 정보를 담기 위해<br>여러분의 의견을 적극 반영하여 업데이트 하겠습니다.