nav.top-nav.teal.lighten-2#modal_nav
	.nav-wrapper
		p 즐겨찾기
.pad30
.container_faq.row
	.col.s12
		.card
			ul.collection#fav_list
				li.collection-item
					div
						a(href="#")= val
						a.secondary_content(href="#") 삭제하기
