extends layout

block content

  body
    header
      include sidemenu
      include navbar-mat

    main
      #map
        script.
          if (#{s} != undefined)
            __INFO__.setSearchIdx(#{s});
          else if (#{ds} != undefined)
            __INFO__.setRouteIdx(#{ds}, #{as});
          var mapResize = function() {
            $('#map').css('height', window.innerHeight - 100);
            $('#map').css('margin-top', 100);
          }
          mapResize();
          $(window).resize(mapResize);

      include after_searching_menu

      include action-btn

      include navi-popup

    .modal#modal_menu
      .modal-content
        include add_event_new
    .modal.bottom-sheet#modal_menu_fav
      .modal-content
        include fav
    .modal#modal_menu_faq
      .modal-content
        include faq
    .modal#modal_menu_notice
      .modal-content
        include notice
    .modal#modal_menu_setting
      .modal-content
        if login == 'true'
          include setting_login
        else
          include setting
    .modal#modal_menu_plus
      .modal-content
        include plus
