doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
    title 스누맵

    // jQuery
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='http://thecodeplayer.com/uploads/js/jquery.easing.min.js')

    // Materialize
    link(rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')

    //IntroJs
    script(src="js/intro.js")
    link(rel='stylesheet' href='stylesheets/introjs.css')
    link(rel='stylesheet' href='stylesheets/bootstrap-responsive.min.css')

    // Selectize
    link(rel='stylesheet' href='lib/selectize/dist/css/selectize.bootstrap3.css')
    script(src='lib/selectize/dist/js/standalone/selectize.min.js')

    // Leaflet
    link(rel='stylesheet' href='lib/leaflet/leaflet.css')
    script(src='lib/leaflet/leaflet-src.js')
    script(src='js/rastercoords.js')

    // CryptoJS
    script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js')

    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66670044-1', 'auto');
      ga('send', 'pageview');

    // Snumap Custom
    link(rel='stylesheet' href='stylesheets/style.css')
    script(src='build/snumap.min.js')

  body
    block content
    script $('.after_searching_menu').hide();
