extends layout

block content

  body
    include navbar_login
      
    .container_login
      .pad50.row

      .row.bottom_margin_none
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .input-field.col.s12.m6.l4
          input.validate#email(type='email')
          label(for='email') Email
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .row
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .input-field.col.s12.m6.l4
          input.validate#password(type='password')
          label(for='password') Password
          a.dropdown-button(href='#', data-activates='dropdown1') 도움이 필요하신가요?
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .row
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .col.s12.m6.l4
          a.waves-effect.waves-light.btn.left(href='new_account') 회원가입
          a.waves-effect.waves-light.btn.right(href='javascript:void(0)' onclick='login()') 로그인
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .pad50.row


        //.row.center
          .col.hide-on-small-only.m3.l4
            img(src='images/blank.png')
          .input-field.col.s12.m6.l4
            a.waves-effect.waves-light.btn.indigo
              img.login_logo(src='images/facebook.png')
              i facebook 계정으로 로그인
            br
            br
            a.waves-effect.waves-light.btn.red.lighten-2#login_button
              img.login_logo(src='images/google.png')
              i  google+ 계정으로 로그인
          .col.hide-on-small-only.m3.l4
            img(src='images/blank.png')





    ul#dropdown1.dropdown-content
      li
        a(href='#!') 아이디 찾기
      li
        a(href='#!') 비밀번호 찾기
      li.divider
      li
        a(href='#!') 이메일 문의

    script(src='js/login_check.js')
    script.
      function login () {
        var email = document.getElementById('email').value;
        if (!validateEmail(email)) {
          alert ("이메일을 확인해 주세요");
          return;
        }
        if (!checkPassword(document.getElementById('password').value)) {
          alert ("비밀번호를 확인해 주세요");
          return;
        }
        var encrypted = CryptoJS.SHA1(document.getElementById('password').value);
        $.post ("/login_modules/submit", {
          email: email,
          passwd: encrypted.toString ()
        }, function (data, status) {
          console.log (data);
          if (data.success) {
            window.location = '/';
          } else {
            alert ("아이디 또는 비밀번호를 다시 확인하세요");
          }
        });
      };
