#maptoolbar.btn-toolbar
  .btn-group.btn-group-lg
    button#load-button.btn.btn-default Load
    button#save-button.btn.btn-default Save

  .btn-group.btn-group-lg
    button#move-button.btn.btn-default.active Move
    button#node1-button.btn.btn-default Node1
    button#node2-button.btn.btn-default Node2
    button#edge-button.btn.btn-default Edge

  .btn-group.btn-group-lg
    button#all-button.btn.btn-default.active AllLevel
    button#level1-button.btn.btn-default Level1
    button#level2-button.btn.btn-default Level2