doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    title 스누맵

    // Constant Values
    include const

    // jQuery
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')

    // Bootstrap
    link(
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
      crossorigin='anonymous'
    )
    script(
      src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
      integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS'
      crossorigin='anonymous'
    )

    // Leaflet
    link(rel='stylesheet' href='lib/leaflet/leaflet.css')
    script(src='lib/leaflet/leaflet-src.js')
    script(src='js/rastercoords.js')

    // Snumap Custom
    link(rel='stylesheet' href='stylesheets/snumap.css')
    script(src='js/snumap.js')
    script(src='js/maptool.js')

  body

  include maptoolbar
  #map
    script.
      var mapResize = function() {
        $('#map').css('height', window.innerHeight - 50);
        $('#map').css('margin-top', 50);
      }
      mapResize();
      $(window).resize(mapResize);