block content


  form.modal.multi-step#modal_menu
    .modal-dialog
      .modal-content
        .modal-header
          .m-progress
            .m-progress-bar-wrapper
              .m-progress-bar
            .m-progress-bar-stats
              span.m-progress-current
              h4 /
              span.m-progress-total
            .m-progress-complete
              h4 Completed
        .modal-body.step-1(data-step="1")
          include add_event
        .modal-body.step-2(data-step="2")
          include add_event_2
        .modal-body.step-3(data-step="3")
          include add_event_3
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-primary.step.step-1(type="button" data-step="1" onclick="sendEvent('#modal_menu, 2)") Continue
          button.btn.btn-primary.step.step-2(type="button" data-step="2" onclick="sendEvent('#modal_menu, 1)") Back
          button.btn.btn-primary.step.step-2(type="button" data-step="2" onclick="sendEvent('#modal_menu, 3)") Continue
