nav.top-nav.grey.darken-3
  .container
    .nav-wrapper.row(style='margin-right:0 !important;')
      .col.s12#nav_form
        .container_form(style='padding-top: 12px;')
          form#navbar_search(style='padding-top: 20px;')
            .selectize.input-field
              select#searchbar.selectbar(placeholder='검색어를 입력하세요!')
          form#navbar_navi
            .selectize.input-field
              select#departbar.selectbar(placeholder='출발')
              select#arrivebar.selectbar(placeholder='도착')
