extends layout

block content

  include navbar
  script.
    $('#menu-navigation').addClass('active')

  .selectize
    select#depart.selectbar(placeholder='출발')
  .selectize
    select#arrive.selectbar(placeholder='도착')
  script(src='js/searchbarbase.js')
  script.
    var depart = new SearchBarBase('#depart');
    var arrive = new SearchBarBase('#arrive');

  #map
    script.
      var mapResize = function() {
        $('#map').css('height', window.innerHeight - 135);
        $('#map').css('margin-top', 135);
      }

      mapResize();
      $(window).resize(mapResize);