extends layout

block content

	body
		nav.top-nav.teal.lighten-2
			.nav-wrapper
				.col.l12
					a.breadcrumb(href='/')
						i.material-icons keyboard_arrow_left
						br
						p 스누맵 회원가입
		.pad50
		.container_new_account
			.row
				.col.hide-on-small-only.m3.l4
					img(src='images/blank.png')
				.col.s12.m6.l4.card.center
					p
						h4 서울대학교 구성원이신가요?
					p 회원 가입시 마이스누 이메일(@snu.ac.kr)을 사용하시면<br>별도의 인증절차 없이 가입과 동시에 구성원 인증이 가능합니다.<br>(구성원 인증은 '행사 알림' 등록시 필요합니다.)
				.col.hide-on-small-only.m3.l4
					img(src='images/blank.png')
			.row
				form.col.s12
					.row
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
						.input-field.col.s6.m3.l2
							input.validate#first_name(placeholder='Placeholder')(type='text')
							label(for='first_name') 이름
						.input-field.col.s6.m3.l2
							input.validate#last_name(placeholder='Placeholder')(type='text')
							label(for='last_name') 성
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
					.row
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
						.input-field.col.s12.m6.l4
							input.validate#email(placeholder='Placeholder')(type='email')
							label(for='email') E-mail
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
					.row
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
						.input-field.col.s12.m6.l4
							h6 (암호는 숫자 하나, 영문 소문자 하나 이상을 포함해 6자 이상으로 설정해 주시기 바랍니다.)
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
					.row
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
						.input-field.col.s12.m6.l4
							input.validate#password1(placeholder='Placeholder')(type='password')
							label(for='password') 암호
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
					.row
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
						.input-field.col.s12.m6.l4
							input.validate#password2(placeholder='Placeholder')(type='password')
							label(for='password') 암호 확인
						.col.hide-on-small-only.m3.l4
							img(src='images/blank.png')
			.row
				.col.hide-on-small-only.m3.l4
					img(src='images/blank.png')
				.col.s12.m6.l4
					a.waves-effect.waves-light.btn.right(href='javascript:void(0)' onclick='new_account()') 가입하기
				.col.hide-on-small-only.m3.l4
					img(src='images/blank.png')
		.pad50

		script(src='js/login_check.js')
		script.
			function new_account () {
				var first_name = document.getElementById('first_name').value;
				var last_name = document.getElementById('last_name').value;
				var email = document.getElementById('email').value;
				var passwd = document.getElementById('password1').value;
				if (first_name.length == 0 || last_name.length == 0) {
					alert ("이름을 입력해 주세요");
					return;
				}
				if (!validateEmail (email)) {
					alert ("이메일 형식이 잘못되었습니다");
					return;
				}
				if (passwd.localeCompare(document.getElementById('password2').value) != 0 || !checkPassword(passwd)) {
					alert ("비밀번호를 확인해 주세요");
					return;
				}
				var encrypted = CryptoJS.SHA1(passwd);
				console.log ("create new account");
				$.post ("/login_modules/new_account", {
					first_name: first_name,
					last_name: last_name,
					email: email,
					passwd: encrypted.toString ()
				}, function (data, status) {
					console.log (data);
					if (data.success) {
						if (data.snumail) {
							alert ("회원가입이 완료되었습니다.\nSNU 메일로 구성원 인증 요청이 발송되었습니다. 메일을 확인해주세요.");
						}
						else {
							if (data.error == "not snumail")
								alert("회원가입이 완료되었습니다.\n더 많은 서비스를 제공받기 위해 SNU 구성원 인증을 해주세요.");
							else if (data.error == "already authorized")
								alert("이미 구성원 인증이 완료된 SNU 계정입니다.\n이 계정으로는 구성원 인증을 받을 수 없습니다.");
							else
								alert("내부 오류로 구성원 인증 메일을 발송할 수 없습니다.\n잠시 후에 인증을 진행해주세요.");
						}

						$.post ("/login_modules/submit", {
							email: document.getElementById('email').value,
							passwd: encrypted.toString ()
						}, function (data, status) {
							console.log (data);
							if (data) {
								window.location = '/login';
							} else {
								alert ("로그인 정보 오류");
							}
						});
					} else {
						alert ("이미 존재하는 이메일입니다.");
					}
				});
			};
