nav.top-nav.teal.lighten-2#modal_nav
	.nav-wrapper
		p 공지사항
.pad30
.container_setting.row#container_setting
	.col.s12
		ul.collapsible(data-collapsible='accordion')
			li
				.collapsible-header.active 스누맵 VER 3.0 서비스를 시작합니다.
					p#notice_date 2016.03.01
				.collapsible-body
					p 지난 버젼에 이어 새로운 서비스들이 추가되었습니다.<br><br>plus+검색: 이제 교수님 성함이나 과목 명으로 위치를 검색해 보세요!<br>행사등록: 홍보하고 싶은 학내행사를 스누맵을 통해 홍보해보세요!<br>(홍보하기 기능은 구성원 인증 후에 사용 가능합니다.)<br>필터: 행사정보/편의시설/식단정보/결혼식장을 편하게 확인하세요!<br><br>기타 새로운 기능들의 사용법은 튜토리얼 메뉴에서 자세히 보실 수 있습니다!
			li
				.collapsible-header 스누맵 새 버전이 출시되었습니다!
					p#notice_date 2015.09.01
				.collapsible-body
					p 기존에 간단한 웹 버전으로 제공되었던 스누맵이 새 버전으로 출시되었습니다.<br>이제 스누맵을 안드로이드, 아이폰, 웹, 세 플랫폼에서 각각 이용하실 수 있습니다.<br>스누맵의 새 버전에서 이용하실 수 있는 기능은 다음과 같습니다.<br><br>1. 장소 검색 기능<br>건물명, 동번호, 초성검색 뿐만 아니라 약어검색이 가능하고 서울대 내에서 통용되고 있는 은어들을 조사하여 데이터베이스에 추가하였습니다.<br><br>2. 길찾기 기능<br>항상 필요성을 느끼고 있었지만 그 누구도 구현하지 못했던 길찾기 기능을 구현하였습니다. 이제 서울대에서 길을 잃고 헤메이지 마세요!<br><br>3. 우리에게 익숙한 방향을 가진 지도<br>북쪽이 위에 있는 동서남북 방향은 우리에게 직관적이지 않습니다. 동서남북을 포기하고 지도의 방향을 돌림으로써 우리에게 익숙한 지도 모양을 구성하였습니다.<br><br>아이폰 버전은 심사기간을 거쳐 약 일주일 뒤에 출시될 것입니다.<br>모두 스누맵과 함께 건물을 찾아 방황하지 않는 개강날을 맞으세요!^^