form
	.selectize.input-field
		select#anysearch.selectbar(placeholder='교수님 성함/과목명으로 장소(동-호)검색이 가능합니다.')
.anysearch_image
	br
	b 과목명 검색
	h6 2016년 1학기 수강편람을 기준으로 검색되며,<br>수강편람상 강의실 동,호수 정보가 누락된 과목은 검색되지 않습니다.
	br
	b 교수님 성함으로 검색
	h6 관악캠퍼스 내에 연구실이 있는 교수님에 대해서만 검색 가능하며,<br>과 홈페이지에 동,호수 정보가 누락된 교수님은 검색되지 않습니다.