nav.top-nav.teal.lighten-2#modal_nav
	.nav-wrapper
		p 설정
.pad30
.container_setting.row#container_setting
	.col.s12
		ul.collapsible(data-collapsible='accordion')
			li
				.collapsible-header 지원 언어
					.secondary-content 현재 설정 - 한국어
				.collapsible-body
					.row.center.setting_list
						ul
							li
								a(href='#') 한국어
							li
								a(href='#') English
			li
				.collapsible-header 계정 설정
				.collapsible-body
					.row.center.setting_list
						ul
							li
								a(href='confirm_account') 내 정보 수정
							li
								a(href='authorization') 구성원 인증하기
							li
								a(href='withdrawal') 스누맵 회원 탈퇴
			li
				.collapsible-header
					a(href='mailto:chloe@krazi.net') 문의하기
