nav.top-nav.teal.lighten-2#modal_nav
	.nav-wrapper
		p 설정
.pad30
.container_setting.row#container_setting
	.col.s12
		ul.collapsible(data-collapsible='accordion')
			li
				.collapsible-header 지원 언어
					.secondary-content 현재 설정 - 한국어
				.collapsible-body
					p 한국어 English
			li
				.collapsible-header
					a(href='mailto:chloe@krazi.net') 문의하기
