.container
  a.button-collapse.top-nav.full.hide-on-large-only(href='#' data-activates='nav-mobile')
    i.mdi-navigation-menu
ul#nav-mobile.side-nav.fixed

  if login == true
    li#side_login_li_after.teal.lighten-2
      i.material-icons account_circle
      // strong.side_login_text 박성경<br>stzard@gmail.com
      strong.side_login_text #{name} <br>#{email}
        #side_login_auth_status
          if auth == 1
            h6 구성원 인증 완료
          else
            a(href='./authorization')
              h6 구성원 미인증
  else
    li#side_login_li.teal.lighten-2(data-step="5" data-intro="지금, 로그인하고 더 많은 기능을 이용해보세요!")
      a(href='/login')
        i.material-icons person
        strong 로그인
  hr#side_login_hr
  li(data-step="1" data-intro="스누맵의 새로운 검색기능! 이제 과목명과 교수님 성함으로 장소를 검색해보세요!")
    a.modal-trigger(href='#modal_menu_plus')
      i.material-icons find_in_page
      strong plus+검색
      span.new.badge#plus_search_badge

  if login == true
    li(data-step="2" data-intro="자주 찾는 장소를 등록해 보세요!")
      a.modal-trigger(href='#modal_menu_fav' onclick='favorite()')
        i.material-icons star
        strong 즐겨찾기
  else
    li(data-step="3" data-intro="로그인 후 자주 찾는 장소를 등록해 보세요!")
      a(href="#" onclick='fav()')
        i.material-icons star
        strong 즐겨찾기

  if login == true
    li(data-step="3" data-intro="홍보하고 싶은 행사가 있다면 지금 등록해보세요!")
      a(onclick='eventPopUp()')
        i.material-icons add_location
        strong 행사등록

  if login == true
    li(data-step="4" data-intro="계정설정이나 지도 언어변경은 여기서!")
      a.modal-trigger(href='#modal_menu_setting')
        i.material-icons settings
        strong 설정
  else
    li(data-step="4" data-intro="영어 지도가 필요하다면 여기서!")
      a.modal-trigger(href='#modal_menu_setting')
        i.material-icons settings
        strong 설정
  hr
  li.center#li_filter(data-step="5" data-intro="지도에서 필요한 정보를 바로 확인할 수 있어요!")
    .row.filter
      .col.s6
        a#filter_first.filter_child(href='#') 행사정보
      .col.s6
        a#filter_restaurant.filter_child(href='#') 식단정보
    .row.filter#filter_lower
      .col.s6
        a#filter_wedding.filter_child(href='#') 결혼식장
      .col.s6
  hr
  li
    a.modal-trigger(href='#modal_menu_notice')
      i.material-icons event_available
      strong 공지사항
  li
    a(href="javascript:void(0);" onclick="javascript:introJs().start();")
      i.material-icons help
      strong 튜토리얼
  li
    a.modal-trigger(href='#modal_menu_faq')
      i.material-icons question_answer
      strong FAQ
  if login == true
    hr
    li
      a(href='javascript:void(0)' onclick='logout ()')
        i.material-icons exit_to_app
        strong 로그아웃

script.
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal({
      ready: function() {
        $('.eventToast').hide();
        window.map.offEvent();
      }
    });
  });

  // favorite
  var favorite = function () {
    $.post ("/favorite", {}, function (data, status) {
      console.log (data);
      var inner = "";
      for (var i = 0; i < data.length; i++) {
        inner += '<li class="collection-item"><div><a onclick="set_find(' + data[i] + ')">' + __INFO__.getData()[data[i]].name + '</a><a class="secondary_content" onclick="removeFav(' + data[i] + ')">삭제하기</a></div></li>';
      }
      $('#fav_list').html(inner);
    });
  };

  var needToLogin = function () {
    alert("로그인 후에 이용하실 수 있습니다.");
  }

  var set_find = function (idx) {
    __INFO__.getSearchbar().selectize[0].selectize.setValue(idx);
    $('#modal_menu_fav').closeModal();
    $('.button-collapse').sideNav('hide');
  };

  var removeFav = function (idx) {
    $.post("/removeFav", {rmId: idx}, function (data, status) {
      favorite();
    });
  };

  var eventPopUp = function () {
    $('.eventToast').hide();
    Materialize.toast('<span id="eventNoti">행사 장소를 지도 상에서 지정해주세요</span>', 400000, 'eventToast');
    window.map.setEvent();
  }

  var removeToast = function () {
    $(".eventToast").hide();
  }

  $('#filter_wedding').on('click', function () {
    window.map.toggleWedding();
    if(window.map.weddingMode == 0){
      $(this).css('color','green');
      window.map.weddingMode = 1;
    }
    else{
      $(this).css('color','gray');
      window.map.weddingMode = 0;
    }
  });

  function logout () {
    $.post ("/login_modules/logout", {}, function (data, status) {
      if (data)
        window.location = '/';
    });
  };

  $("#filter_restaurant").on('click',function(){
      if(window.map.resMode == 0){
      window.map.showMenu();
      window.map.resMode = 1;
      $(this).css('color','green');
    }
    else {
      for(key in window.map.resList){
        window.map.resPins[key].hide();
        window.map.resMode = 0;
      }
      $(this).css('color','gray');
    }
  });

  $("#filter_first").on('click',function(){
    if(window.map.eventMode == 0){
      console.log('event turning on');
      window.map.showEvent();
      window.map.eventMode = 1;
      $(this).css('color','green');
    }
    else {
      console.log('event turning off');
      if(window.map.eventPins.length > 0){
        for(var i=0;i<window.map.eventPins.length;i++){
         window.map.eventPins[i].hide();
         console.log(key);
        }
      }
      $(this).css('color','gray');
      window.map.eventMode = 0;
    }
  });
