extends layout

block content

  body
    nav.top-nav.teal.lighten-2
      .nav-wrapper
        .col.l12
          a.breadcrumb(href='/')
            i.material-icons keyboard_arrow_left
            br
            p 스누맵 회원 탈퇴
      
    .container_login
      .pad30.row
      .pad50.row
        form.col.s12
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              h6 탈퇴시 모든 회원정보가 삭제됩니다<br>신중히 생각하신 후 결정해주시기 바랍니다.
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              h5 #{email}
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
          .row
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
            .input-field.col.s12.m6.l4
              input.validate#password(placeholder='Placeholder')(type='password')
              label(for='drop_password') 암호
            .col.hide-on-small-only.m3.l4
              img(src='images/blank.png')
      .row
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')
        .col.s12.m6.l4
          a.waves-effect.waves-light.btn.right(href='#' onclick='withdraw()') 탈퇴
        .col.hide-on-small-only.m3.l4
          img(src='images/blank.png')

      .pad50.row

      script(src='js/login_check.js')

      script.
        function withdraw () {
          if (!checkPassword(document.getElementById('password').value)) {
            alert ("비밀번호를 확인해 주세요");
            return;
          }
          var encrypted = CryptoJS.SHA1(document.getElementById('password').value);
          $.post ("/login_modules/submit", {
            email: "#{email}",
            passwd: encrypted.toString()
          }, function (data, status) {
            if (data.success) {
              if(confirm("정말로 탈퇴하시겠습니까?")) {
                $.post ("/login_modules/withdraw", {
                email: "#{email}",
                passwd: encrypted.toString()
                }, function (data, status) {
                  if(data.success) {
                    alert("탈퇴되었습니다.");
                    window.location = '/';
                  }
                });
              }
            } else {
              alert ("아이디 또는 비밀번호를 다시 확인하세요");
            }
          });
        };