.navbar {
    position: relative;
    margin-bottom: 0px;
    border: 0px;
    background-color: #57B7AC;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 0px;
}

.navbar-brand {
    padding: 25px;
}

.navbar-brand>img {
    position: absolute;
    /*top: 10%;*/
    top: 0%;
    left: 0%;
    height: inherit;
    text-align: center;
}

.navbar-nav>li>a{
    line-height: 20px;
    color:white;
    text-align: center;
}

.nav>li>a:hover, .nav>li>a:focus{
    background: #77D7CC;
}

.active{
    background: #37978C;
}

.navbar_toggle {
    line-height: 30px;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 1px;
}

.selectize {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -5px;
    background-color: #B2DFDB;
    z-index: 1;
}

.label {
    display: block;
    font-weight: normal;
    margin-left: -10px;
    text-align: left;
    font-size: 15px;
    color: black;
}

 .caption {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

.selectize-control.contacts .selectize-input [data-value] .info {
    opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .info {
    margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .info:before {
    content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .info:after {
    content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

#map { 
    z-index: 0;
    display: inline-block;
    width:100%; 
    height:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin:0; 
    padding:0;
    margin-top: 95px;
    background-color: white
}


.nav>li {
    min-height: 50px;
}

/*
#left {
    width: 45vw;
    height: 100%;
    float: right;
    background-color: #626262;
    position: absolute;
    z-index: 10000;
    right:-50vw;
    max-width: 350px;
}

.dropdown-menu>li>a {
    color: white;
    min-height: 40px;
}
*/
