/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html, body {
    margin: 0;
    padding: 0;
 }

 header, main {
    padding-left: 240px;
 }

.container_form {
    position: relative;
    width: 85%;
    text-align: left;
    padding-left: 5%;
}
#map { 
    z-index: 0;
    display: inline-block;
    width:inherit; 
    height:100%;
    position: absolute;
    left: 240px;
    right: 0;
    top: 0;
    margin:0; 
    padding-left:240px;
    background-color: white;
}

.selectize-input {
    padding: 3px 12px;
    min-height: 20px;
}

@media only screen and (max-width : 992px) {
    header, main {
        padding-left: 0;
    }

    .container_form {
    position: relative;
    width: 90%;
    text-align: left;
    padding-left: 15%;
    }

    #map {
        padding-left: 0;
        left: 0;
    }
}

.top-nav {
    height: 100px;
    line-height: 45px;
}

.container {
    width: 100%;
    height: inherit;
    margin: 0 auto;
}

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    width: 10%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

a.button-collapse.top-nav.full {
    line-height: 90px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.switch {
	min-width: 200px;
	margin-top: -90px;
	margin-left: 70%;
	z-index: 5;
	position: fixed;
}

.side-nav li a i {
	margin-right: 30px;
	vertical-align: middle;
	margin-top: -5px;
}

.side-nav li a {
    height: 50px;
    line-height: 50px;
}



.label {
    display: block;
    font-weight: normal;
    margin-left: 0px;
    text-align: left;
    font-size: 15px;
    color: black;
}

 .caption {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

.selectize-control.contacts .selectize-input [data-value] .info {
    opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .info {
    margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .info:before {
    content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .info:after {
    content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

.selectize-input.items {
    background-color: #424242;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
    border-radius: 0;
}

.selectize-input.focus {
    background-color: #424242;
}

.selectize-input.items.not-full.focus.input-active {
    background-color: #424242;
}

.selectize-input.dropdown-active.has-options {
    background-color: #424242;
}

*::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
*:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #ffffff;
}

::selection {
  background: #ffffff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffffff; /* Gecko Browsers */
}

.selectize-input input {
    color: #ffffff;
}



/* start - bible_public */

.pad50 {
    padding-bottom: 50px;
}

.pad30 {
    padding-bottom: 30px;
}

.bottom_margin_none {
    margin-bottom: 0;
}

/* end - bible_public */



/* side_menu - start */

#plus_search_badge {
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
}

.side-nav li .filter a {
    padding: 5px 0;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
    color: gray;
}

.filter {
    margin: 0;
}

#filter_lower {
    margin-bottom: 20px;
}

.side-nav li#li_filter:hover,.side-nav li.active {
    background-color:white;
}

#side_login_hr {
    margin-top: 0px;
}

#side_login_li {
    height: 99px;
    padding-top: 25px;
}

#side_login_li_after {
    height: 99px;
    padding-top: 10px;
}

#side_login_li_after i {
    padding-top: 35px;
    padding-left: 15px;
    font-size: 25px;
}

.side_login_text {
    line-height: 15px;
    position: absolute;
    top: 30px;
    left: 70px;
    font-weight: 500;
}

.side_login_button {
    line-height: 15px;
    position: fixed;
    top: 71px;
    left: 180px;
}

#font20 i {
    font-size: 20px;
}

/* side_menu - end */

#nav_search {
    width: 80%;
}

#nav_select {
    width: 20%;
}

/* start - login.jade */

.login_logo {
    width: 20px;
    margin-bottom: -6px;
}

#login_button {
    padding-right: 32px;
    padding-left: 34px;
    margin-left: -4px;
    margin-top: 5px;
}

.breadcrumb i {
    padding-left: 10px;
    height: 30px; !important
}

.breadcrumb p {
    padding-left: 15px;
    margin: 0;
    font-size: 25px;
    height: 30px;
    line-height: 40px;
}

/* login.jade - end */

/* notice.jade - start */

#notice_date {
    float: right;
    font-size: 1em;
    margin: 0;
}

/* notice.jade - end */

/* navbar_mat.jade의 switch button - start */

#switch_button {
    width: 80%;
    text-align: center;
}

#switch_button a {
    padding: 7px 2px;
    font-size: 10px;
}

/* navbar_mat.jade의 switch button - end */


/* event_icon - start */

#event_icon {
    height: 65px;
    padding: 10px 0px;
}

/* event_icon - end */

/*form styles*/

#modal_menu {
    height: 80%;
}

#msform {
    width: 94%;
    margin: 20px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    padding: 20px 10px;
    
    box-sizing: border-box;
    width: 94%;
    margin: 0 3%;
    
    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}

.after_searching_menu {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 60px;
    z-index: 100;
}

@media only screen and (min-width : 992px) {
    .after_searching_menu {
        width: 100%;
        padding-left: 240px;
        left: 0px;
    }
}

.after_searching_menu .after_searching_menu_button {
    width: 25%;
    height: 60px;
    border-right: 1px white dashed;
}

.modal {
    max-height: 80%;
}

#modal_nav {
    height: 50px;
    padding-left: 30px;
}

#modal_nav p {
    font-size: 20px;
    line-height: 50px; 
}

.modal .modal-content {
    padding: 20px;
}

#modal_menu_plus {
    height: 300px;
}

#modal_menu_plus .modal-content {
    margin-top: 0;
    padding-top: 10px;
    top:10px;
}

.setting_list {
    padding-top: 20px;
}

#container_setting {
    margin-left: 0 !important;
}

.introjs-helperNumberLayer{
    opacity: 0 !important;
}